@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: 285px 1fr;
    grid-template-rows: 170px 1fr;
}

.grid-container {
    display: grid;
}

.grid-row-span-2 {
    grid-row: span 2;
}

.flex-container {
    display: flex;
}

nav {
    background-color: #4093ff;
    color: #FFF;
    padding: 2rem;
    z-index: 2;
    grid-template-rows: repeat(3, min-content);
    gap: 2rem;
}

nav>div {
    gap: 1rem;
}

svg {
    fill: white;
}

nav>div>* {
    display: flex;
    gap: 1rem;
}

nav>div>a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 1.25rem;
}

header {
    grid-template-columns: 2fr 1fr;
    padding: 1rem 2.5rem;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-weight: bold;
}

header>.flex-container {
    align-items: center;
    gap: 1.5rem;
}

.search-bar>input {
    width: 100%;
    border: none;
    border-radius: 1rem;
    height: 2rem;
    background-color: #f0faff;
    padding: 0 1rem;
}

.account.flex-container, .buttons.flex-container {
    justify-content: end;
}

.avatar {
    background-color: #ffa41d;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.welcome>.avatar {
    height: 4rem;
    width: 4rem;
}

.buttons>button {
    border: none;
    border-radius: 2rem;
    background-color: #4093ff;
    color: #FFF;
    padding: .5rem 1rem;
    width: 6rem;
    height: 2.5rem;
    font-size: .85rem;
    font-weight: bold;
}

main {
    background-color: #f0faff;
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem;
    gap: 1rem;
}

#project-cards {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

#project-cards .card {
    border-left: 8px solid #ffa41d;
    height: 200px;
    grid-template-rows: max-content 1fr max-content;
}

.section-title {
    margin-bottom: 1rem;
    font-weight: bold;
}

.card {
    background-color: #FFF;
    border-radius: .5rem;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    display: grid;
}

.card>p {
    font-size: .9rem;
    color: #414141;
    margin: .5rem 0;
}

.card-options {
    text-align: right;
}
.card-options>* {
    margin-left: 1rem;
}

#announcement-list, #trending-list {
    width: 300px;
    max-height: 90%;
}

#announcement-list>hr {
    height: 1px;
    border: 1px solid #e6e6e6;
    margin: 1rem 0;
}

#announcement-list>article>p {
    font-size: .8rem;
    color: #414141;
}